.contact-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;/* Create 3 columns with equal width */
  gap: 20px; /* Adjust the gap between grid items as needed */
  font-family: 'Quicksand', sans-serif;
}

.contact-item {
  /* Add any styling you want for each item here */
  padding: 10px;
  list-style-type: none;  /* You can also set a fixed height for each item if needed */
}

.contact-card {
  /* Add styling for the contact card as needed */
}
