.app-container {
    font-family: Arial, sans-serif;
  }

  .main-app{
    background-color:antiquewhite;
    color: #000000;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 20px;
  }
  .add{
  
    background-color: #25681a;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }