.contact-details {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.contact-details-title {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.contact-details-phone {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

.contact-details-icon {
    font-size: 24px;
    margin-bottom: 10px;
}

.contact-details-description {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    font-family: 'Amatic SC', cursive;
}

.contact-details-back-link {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
    display: inline-block;
}

.contact-details-back-link:hover {
    text-decoration: underline;
    color: #0056b3;
}